<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1> Sign up </h1>
                    <h5> Please register yourself </h5>
                </div>
                <form>

                    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">

                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">userID</label>
                            <input formControlName="empID" type="number" class="form-control" id="empID" aria-describedby="emailHelp">
                          </div>    
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Username</label>
                          <input formControlName="empName" type="text" class="form-control" id="empName" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Sign up</button>
                      </form>
                      <br>
                      <a routerLink="/login"> Already registered? Click to log in.</a>
                </form>
            </div>
        </div>
    </div>
</div>
